<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MONEY PLS</title>
    <link href="/static/app/css/moneyui.css" rel="stylesheet">
    <link rel="icon" href="/static/app/content/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:700italic' rel='stylesheet' type='text/css'>   
    <div class="main" id="start">
        <div class="title_text">404 - not found</div>
        <a href="/index.html">Back to safety!</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/app/js/uiscript.js"></script>
  </body>
</html>
