<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MONEY PLS - Admin</title>
    <link href="/static/app/css/event.css" rel="stylesheet">
    <link rel="icon" href="/static/app/content/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/static/app/css/font-awesome.min.css">
    <div class="nav">
      <a href="/index.html"><img border="0" src="/static/app/content/grey_logo.png"></a>
    </div>
  	<div class="main">
      <br>
      <div class="title_text">Edit your event</div>
       <form action="/edit_event" method="POST">
        {% csrf_token %} 
        <input type="hidden" name="hashString" value={{hashString}}>
        <div class="input_fieldname">Name of event*</div><input type="text" name="name" size="50" value={{name}} required><br>
        <div class="error_msg" id="error_event_name"></div>
        <div class="input_fieldname">Venmo ID*</div><input type="text" name="admin" size="50" value={{admin}} required><br>
        <div class="error_msg" id="error_venmo_id"></div>
        <div class="input_fieldname">Email Address*</div><input type="email" name="email" size="50" value={{email}} required><br>
        <div class="error_msg" id="error_venmo_id"></div>
        <div class="input_fieldname">Recommended Amount</div><input type="text"  name="rec_amt" size="50"><br>
        <div class="error_msg" id="error_rec_amount"></div>
        <div class="input_fieldname">Goal</div>
        {% if goal %}
        <input type="text"  name="goal" value={{goal}} size="50">
        {% else %}
        <input type="text"  name="goal" size="50">
        {% endif %}
        <br>
        <div class="error_msg" id="error_goal"></div>
        <div class="input_fieldname">End date</div>
        {% if date %}
        <input type="date"  name="end_date" size="50" value={{date}}><br>
        {% else %}
        <input type="date"  name="end_date" size="50"><br>
        {% endif %}
        <div class="error_msg" id="error_end_date"></div>
        <div class="input_fieldname">Description</div>
        {% if desc %}
        <textarea name="desc" cols="50" rows="5" style="margin-top:2px;" value={{desc}}></textarea><br>
        {% else %}
        <textarea name="desc" cols="50" rows="5" style="margin-top:2px;"></textarea><br>
        {% endif %}
        <div class="error_msg" id="error_desc"></div>
        <div class="submit_form"><input type="submit" value="Update"></input></div>
      </form>
    <ul id="Contributer List">
      <li> {{contributer_1}}
    </ul>
  	<div class="whitespace"></div>
  	</div>
	  <div class="footer">
		  <center>
		  	A TartanHacks 2015 Project by Christopher Wei, Aatish Nayak, Justin Liu, and Ariel Rao<br>
		  	Powered by Venmo - Open Source<br>
		  </center>
	  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
