<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MONEY PLS - Event</title>
    <link href="/static/app/content/event.css" rel="stylesheet">
    <link rel="icon" href="/static/app/content/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <div class="nav">
      <a href="/index.html"><img border="0" src="/static/app/content/grey_logo.svg"></a>
    </div>
  	<div class="main">
      <br><br><br><br>
      <center>
        <img border="0" width="300px" style="padding:16px" src="/static/app/content/chaching.svg">
        <div class="med_text">Thank you for contributing <b>{{amount}}</b> to <b>{{title}}</b></div>
        <a href="/index.html"><div class="green_button"> Back to Event Page </div></a>
      </center>
      <div class="whitespace"></div>
    </div>

    <div class="footer">
      <center>
        A TartanHacks 2015 Project by Christopher Wei, Aatish Nayak, Justin Liu, and Ariel Rao<br>
        Powered by Venmo - Open Source<br>
      </center>
    </div>
  </body>
</html>
