<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MONEY PLS - Create Event</title>
    <link href="/static/app/css/moneyui.css" rel="stylesheet">
    <link rel="icon" href="/static/app/content/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/static/app/css/font-awesome.min.css">
    <div class="nav">
      <a href="/index.html"><img border="0" src="/static/app/content/grey_logo.svg"></a>
    </div>
  	<div class="main">
      <br>
  		<div class="title_text">Create a new event</div>
      <form action="/create_event" method="POST">
        {% csrf_token %}
        <input type="hidden" name="code" value={{code}}>

        <div class="input_fieldname">Your Name/Organization*</div><input type="text" id="input_name" name="organizer" size="50" placeholder="John Doe" required>
        <div class="error_msg" id="error_event_name"></div><br>
        <div class="input_fieldname">Name of event*</div><input type="text" id="input_name" name="name" size="50" placeholder="Beach BBQ" required>
        <div class="error_msg" id="error_event_name"></div><br>
        <div class="input_fieldname">Phone Number*</div>
        <input type="text" id="input_id" name="admin" size="50" maxlength="19" placeholder="8487021830" required>
        <div class="error_msg" id="error_venmo_id"></div><br>
        <div class="input_fieldname">Link to Spreadsheet*</div>
              <input type="text" id="input_name" name="spread" size="50" placeholder="https://docs.google.com/spreadsheet/..." required>
        <div class="error_msg" id="error_event_name"></div><br>
        <div class="input_fieldname">Recommended Amount*</div><input type="text" id="input_rec_amt" name="rec_amt" size="1" required>
        <div class="error_msg" id="error_rec_amount"></div><br>
        <div class="input_fieldname">Goal</div><input type="text" id="input_goal" name="goal" size="50" placeholder="100">
        <div class="error_msg" id="error_goal"></div><br>
        <div class="input_fieldname">End date</div><input type="date" id="input_date" name="end_date" size="50" placeholder="YYYY-MM-DD">
        <div class="error_msg" id="error_end_date"></div><br>
        <div class="input_fieldname">Description</div><textarea name="desc" id="input_desc" cols="50" rows="5" style="margin-top:2px;"></textarea>
        <div class="error_msg" id="error_desc"></div><br>
        <div class="submit_form"><input type="submit" value="CREATE"></input></div>
      </form>
      {% if google_link %}
      <a href={{google_link}} class="google"><button>Sign In to Google</button></a>
      {% endif %}
      {% if confirm %}
      <div id="success">{{confirm}}</div>
      {% endif %}
      <div class="whitespace"></div>
  	</div>
    <div class="footer">
      <center>
        A TartanHacks 2015 Project by Christopher Wei, Aatish Nayak, Justin Liu, and Ariel Rao<br>
        Powered by Venmo - Open Source<br>
      </center>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/app/js/input_error_checking.js"></script>
  </body>
</html>
