<HTML>

 <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;https://api.venmo.com/v1/oauth/authorize?client_id=2343&scope=make_payments">
        <script type="text/javascript">
            window.location.href = "https://api.venmo.com/v1/oauth/authorize?client_id=2343&scope=make_payments"
        </script>
        <title>redirect</title>
</head>

<body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow this <a href='https://api.venmo.com/v1/oauth/authorize?client_id=2343&scope=make_payments'>link</a> to authenticate Venmo.
</body>

</HTML>