<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MONEY PLS - Event</title>
    <link href="/static/app/css/event.css" rel="stylesheet">
    <link rel="icon" href="/static/app/content/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/static/app/css/font-awesome.min.css">
    <div class="nav">
      <a href="/index.html"><img border="0" src="/static/app/content/grey_logo.svg"></a>
    </div>
  	<div class="main">
    
	  <div id="event_header">
	    An event by {{organizer}}
	    <div id="event_title"> {{name}} </div>
	  </div>
   
      <div class="left_divider">
      	<img src="/static/app/content/foo.jpg" width="456px"></img>
        {% if desc %}
        <p>{{desc}}</p>
        {% else %}
        <p>A MoneyPLS Venmo Event</p>
        {% endif %}
      </div>
      <div class="right_divider">
      	<div class="big_text">{{payments}}</div> payments made

      	<div class="big_text">${{total}}</div> total raised 
        {% if goal %} out of ${{goal}}{% endif %} 
      	<br>
			    <button onclick="venmo()" class="green_button">
				  PAY WITH VENMO
			    </button>
      </div>
      
      <div id="event_footer">
      {% if end_date %}
  		End date: {{end_date}}
      {% else %}
      Pay ASAP
      {% endif %}
  	  </div>
      {% if loggedin %}
      <form action = "/log_venmo" method = "POST">
        {% csrf_token %}
        <input type="hidden" name="event_id" value={{event_id}}>
        <input type = "hidden" name = "url" value = "https://api.venmo.com/v1/payments">
        <input type = "hidden" name = "access_token" value = {{access_token}} id="at">
        Your Name: <input name = "payer" value = ""> <br>
        Donation Amount: <input name = "amount" value = ""> <br>
        <button>Donate</button>
      </form>
      {% endif %}
  	  <div class="whitespace"></div>
  	</div>
	  <div class="footer">
		  <center>
		  	A TartanHacks 2015 Project by Christopher Wei, Aatish Nayak, Justin Liu, and Ariel Rao<br>
		  	Powered by Venmo - Open Source<br>
		  </center>
	  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/app/js/jquery.cookie.js"></script>
    <script>
    $(document).ready(function(){
      $.cookie.json = true;
      var currentUser = $.cookie('user');
      alert('User name is ' + currentUser.name);
      var fullAccessToken = $(location).attr('search');
      var truncAccessToken = fullAccessToken.substr(14);
      alert("truncAccessToken: " + truncAccessToken);
      $("#at").val(truncAccessToken);

    });
  </script>
    <script>
      function venmo(){
        console.log("clicked");
        var pathname = $(location).attr('pathname');
        var hashID = pathname.substr(7);
        window.location.replace(
            "https://api.venmo.com/v1/oauth/authorize?client_id=2343&scope=make_payments&state="+hashID);
      }

      var pathname = $(location).attr('pathname');
      var hashID = pathname.substr(7);
      $.cookie('id', hashID);
    </script>
  </body>
</html>
