<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MONEY PLS - Event</title>
    <link href="/static/app/css/event.css" rel="stylesheet">
  </head>
  <body>
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/static/app/css/font-awesome.min.css">
    <div class="nav">
      <a href="/index.html"><img border="0" src="/static/app/content/grey_logo.png"></a>
    </div>
  	<div class="main">
    {% if admin %}
	  <div id="event_header">
	    An event by {{admin}}
	    <div id="event_title"> {{name}} </div>
	  </div>
    {% endif %}
      <div class="left_divider">
      	<img src="/static/app/content/foo.jpg" width="456px"></img>
        {% if desc %}
        <p>{{desc}}</p>
        {% else %}
        <p>A MoneyPLS Venmo Event</p>
        {% endif %}
      </div>
      <div class="right_divider">
      	<div class="big_text">{{payments}}</div> payments made

      	<div class="big_text">${{total}}</div> total raised 
        {% if goal %} out of ${{goal}}{% endif %} 
      	<br>
      	<a href="/new_event.html">
			    <div class="green_button">
				  PAY WITH VENMO
			    </div>
		    </a>
      </div>
      
      <div id="event_footer">
      {% if end_date %}
  		End date: {{end_date}}
      {% else %}
      Pay ASAP
      {% endif %}
  	  </div>
      
  	  <div class="whitespace"></div>
  	</div>
	  <div class="footer">
		  <center>
		  	A TartanHacks 2015 Project by Christopher Wei, Aatish Nayak, Justin Liu, and Ariel Rao<br>
		  	Powered by Venmo - Open Source<br>
		  </center>
	  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
