<!DOCTYPE html>
<html lang="en">

<head>

    <title>Money PLS</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="script/uiscript.js"></script>
    <link href="css/moneyui.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:900italic' rel='stylesheet' type='text/css'>

</head>

<body>

Hello world

</body>

</html>