
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MONEY PLS</title>
    <link href="/static/app/css/moneyui.css" rel="stylesheet">
  </head>
  <body>
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Merriweather:700italic' rel='stylesheet' type='text/css'>
  	<div class="banner"></div>
  	
  	<a href="#more_info">
  		<div class="see_more">
  			<center> See more </center>
  		</div>
  	</a>
  	


  	<div class="main">
  		<div class="banner_overlay">
  			<center>
  			<div class="banner_title">Lorem Ipsum</div>
  			</center>
  		</div>
  		<div id="more_info">
  		More stuff
  		</div>
  	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/app/js/uiscript.js"></script>
  </body>
</html>
