<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MONEY PLS</title>
    <link href="/static/app/css/moneyui.css" rel="stylesheet">
    <link rel="icon" href="/static/app/content/favicon.ico" type="image/x-icon"/>
    <script src="//apis.google.com/js/client:platform.js" async defer></script>

  </head>
  <body>
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/static/app/css/font-awesome.min.css">
  	<div class="banner" id="top">
  		<div id="logo">
	  		<a href="/index.html">
			 <img border="0" src="/static/app/content/white_logo.svg">
			 </a>
		  </div>
  	</div>
  	
  	<a href="#start" id="scroll_link">
  		<div class="see_more" id="scroll_to">
  			<center> LEARN MORE <i class="fa fa-chevron-circle-down"></i> </center>
  		</div>
  	</a>
  	
  	<div class="main" id="start">
  		<div class="banner_overlay">
  			<center>
	  			<div class="banner_title">
	  				Event funding made easy.
	  			</div>
  			</center>
  			<br>
  			<center>
  				<a href="/new_event.html">
		  			<div class="green_button">
		  				CREATE NEW EVENT
		  			</div>
	  			</a>
  			</center>
  		</div>
  	</div>
    <div class = "more_info">
      <a href="#top" id="scroll_link_up">
      	<div class="less_info">
      		<div class="see_less" id="scroll_up">
            <i class="fa fa-chevron-circle-up"></i>
          </div>
      	</div>
      </a>
    <div class="main" style="background-color:#ECF0F1;">
    <center>
      <div class="big_text">
        Planning an event?
      </div>
      Let <b>Money PLS</b> help you manage donations from your participants.<br>
      <img src="/static/app/content/info_graph.svg" style="padding:24px;"></img>

        <br>--- LEGEND ---<br>
        <b style="color:#68C3A3;"><i class="fa fa-arrow-circle-o-right"></i> Money Flow </b> | 
        <b style="color:#446CB3"> <i class="fa fa-arrow-circle-o-right"></i>  Happiness Flow</b>
    </center>
    </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/app/js/uiscript.js"></script>
  </body>
</html>
