input,textarea {
	padding:12px;
}

html, body {
	margin: 0px; padding: 0px; border: 0px;
	font-family: 'Open-Sans' sans-serif;
	height:100%;
	background-color: #ECF0F1;
}

a:link {
    color: inherit; /* blue colors for links too */
  	text-decoration: inherit; /* no underline */
}

#logo{
	margin:12px;
	display:inline-block;
	padding:12px;
}

.nav{
	padding:12px;
	background-color: rgb(34,34,34);
}

.banner{
	height:900px;
	background-color: rgb(34,34,34);
}
.banner_title{
	display:inline-block;
	font-size: 48px;
	font-weight:700;
	font-family: 'Open-Sans', sans-serif;
	background-color:#ECF0F1;
	padding:24px;
}

.banner_overlay{
	padding:20px;
	position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	top: 200px;
}
#get_started{
	margin-top:12px;
	font-size: 16px;
	font-weight: 600;
	padding:12px 24px 12px 24px;
	display: inline-block;
	background-color:#26A65B;
	color:white;
}

.see_more{
	height:16px;
	padding:16px;
	background-color: #68C3A3;
	font-size:16px;
	font-weight:300;
	letter-spacing: 2px;
	color:white;
}

.main{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width:960px;
	padding:0px 24px 0px 24px;
}

.title_text {
	font-family: 'Roboto Slab', serif;
	margin-top: 32px;
	margin-bottom:16px;
	font-size: 32px;
	font-weight:300;

}
.more_info{
	height: 800px;
}

.input_fieldname{
	display:inline-block;
	font-family: 'Open-Sans', sans-serif;
	font-weight:300;
	font-size:18px;
	margin-bottom:36px;
	margin-left: 48px;
	margin-right: 12px;
	width:200px;
	vertical-align:top;
	color: grey;
}
.whitespace{
	height:800px;
}
.submit_form{
	float:right;
	margin-right:260px;
}